---
import { getCollection } from 'astro:content';
// Component Imports
import CallToAction from '../components/CallToAction.astro';
// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Skills from '../components/Skills.astro';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout title="シナリオライターnagi007のポートフォリオサイト">
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="週に１万字以上の台本納品実績"
					tagline="多ジャンル対応、早さとシンプルで読みやすい台本で、音声化した時のクオリティを保証する即戦力シナリオライター／スクリプター"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="pencil-line" size="1.33em" /> Scenario</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Scripter</Pill>
						<Pill><Icon icon="code" size="1.33em" /> Logic</Pill>
					</div>
				</Hero>

				<img
					alt="サイトイメージ・イメージポートレイト。サイバーパンクなピンクと黒の部屋に仕事用のモニタとキーボードが並ぶ。"
					width="480"
					height="620"
					src="/assets/my-portrait.webp"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>執筆実績・サンプル台本</h3>
    				<p>これまでに手がけた主要な案件（開示可能な範囲　※現在準備中です）と、参考にしていただくためのサンプル台本です。</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>お仕事のご案内</h3>
					<p>
						ご発注の目安となるプランや条件です。ご予算や締切に応じた柔軟な調整も可能ですので、まずはお気軽にご相談ください。
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						<li class="mention-card"><p>基本文字単価：1.0円〜1.2円<br/><small>（システム手数料等別／フォーマット整形で〜500円程度追加の場合あり）※細部は応相談です</small></p></li>
						<li class="mention-card"><p>作業範囲：プロット案・構成<br/>＋台本執筆＋リテイク（＋フォーマット整形）</p></li>
						<li class="mention-card"><p>想定納品ペース：<br/>発注から通常３〜５日程度（文字数によります）</p></li>
						<li class="mention-card"><p>対応可能ジャンル：<br/>甘々、いちゃらぶ、NTR、逆NTR、女性上位、Ｍ向け、メスイキ、乳首責め、メスガキ、ヤンデレ、人外、ハーレム、催眠系、百合</p></li>
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
